hs_err_pid*
HELP.md
*.log
*.class
/target/
!.mvn/wrapper/maven-wrapper.jar
.gradle

*.ctxt
*.jar
.settings
.mvn
bin/
target/
dist/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
